:root{
    --primary-color: rgba(136, 19, 55, 1);
    --main-button-color: rgb(190, 18, 60);
    --secondary-color: rgba(255, 255, 255, 1);
    --tertiary-color: rgba(241, 245, 249, 1);
    --heading-text-color: rgba(15, 23, 42, 1);
    --link-text-color: rgba(37, 99, 235, 1);
    --text-color: rgb(255, 255, 255);
    --deep-navy-blue: rgb(15, 23, 42);
    --box-shadow: .0px .4px 6px rgb(182, 193, 209); 
    --placeholder-color: rgba(71, 85, 105, 1);
    --font-family: "Roboto", sans-serif;
    --primary-font-weight: 400;
    --secondary-font-weight: 700;
    --tertiary-font-weight: 300;
    --font-size: 16px;
    --line-height: 1.1;
}
/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
li a, a, li{
    text-decoration: none;  
    list-style: none;
}

/* Set default font and background for the body */
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: .5px;
    overflow-x: hidden;
}

a:hover {
    text-decoration: none;
}

/* Default button styles */
/* button {
    padding: 16px 32px;
    font-size: 1rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(190, 18, 60, 1);
} */

/* button:hover {
    background-color: rgba(190, 18, 60, .4)
} */

/* Default image styles */
img {
    width: 100%;
}

h2 {
  font-weight: 600;
  font-size: 35px;
  color: var(--heading-text-color);
}


/*----Website Code------- */

/* header-section */
header {
    background: var(--primary-color);
}
.container {
    max-width: 1440px;
    padding-inline: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30.5px 0;
}
.navbar-list ul {
    display: flex;
    align-items: center;
    align-content: center;
}
.navbar-list ul li {
    margin-right: 20px;
    text-align: center;
}
.navbar-list ul li a{
    color: var(--secondary-color);
}
 .btn {
    border: 2px solid white;
    padding: 12px 28px;
    background: none;
    transition: all .3s ease-in-out;
 }

 .logo-button {
  border: 2px solid white;
  border-radius: 5px;
  color: var(--secondary-color);
  padding: 12px 28px;
  font-size: 16px;
  background: none;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.logo-button:hover{
  background: rgb(228, 66, 95); 
  transition:  background 6s ease;
  cursor: pointer;
  border: none;
}

 /*-----main-section------- */
.wrapper {
    max-width: 1440px;
    position: relative;
    padding-left: 80px;
    background: var(--primary-color);
}

 .hero-section {
    display: flex;
    align-items: center;
    padding-top: 32px;
 }
  .hero-section h1 {
    font-size: 72px;
    padding-bottom: 24px;
    color: var(--secondary-color);
    line-height: var(--line-height);
  }
  .hero-section {
    display: flex;
    align-items: center;         /* Vertically center content */
    justify-content: space-between; 
    flex-wrap: wrap;             /* Ensures responsiveness on smaller screens */
    box-sizing: border-box;
}

.hero-text {
    flex: 1;
    width: 430px;  /* Prevents it from collapsing on small screens */
}

.hero-section img {
    max-width: 100%;
    padding-top: 80px;
    height: auto;
    flex: 1;
    min-width: 430px;
    object-fit: cover;
}

/* styling single placeholder button  starts*/
  ::placeholder {
    position: relative;
    font-size: var(--font-size);
  }
  .placeholder {
    position: relative;
    background-color: rgb(254, 222, 228);
  }
  .form {
    display: flex;
  }
   
  .search-btn {
    width: 109px;
    height: 48px;
    margin-left: 16px;
    background-color: var(--main-button-color);
    border-radius: 5px;
    border: none;
    color: var(--secondary-color);
    font-size: 16px;
  }
 .search-btn:hover{
    background: rgb(228, 66, 95); 
    transition:  background 2s ease;
    cursor: pointer;
  }
  
/* SIGN-UP PAGE START */
.signIn-container {
  max-width: 1440px;
  padding: 80px;
  background-color: var(--placeholder-color);;
}

.sign-up-container  {
  display: flex;
  justify-content: space-between;
}

.form-box {
  width: 500px;
  height: auto;
  background: rgb(189, 188, 188);
  padding: 30px;
  border-radius: 6px;
  border: 1px solid white;
}





/* .sign-up-container {
  position: absolute;
  width: 400px;
  height: 65%;
  background-color: rgba(255, 255, 255, .7);
  box-shadow: 5px 5px 20px rgba(239, 132, 132, 0.7);
  transform: translate(-50%, -50%);
  top: 40%;
  right: -8.5%;
  text-align: center;
  padding: 30px;
  border-radius: 6px;
} */

/* .input-field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
} */

/* .input-icon {
  position: absolute;
  z-index: 1;
  right: 85%
} */

.input-field  input[type="text"] {
  position: relative;
  width: 100%;
  background: white;
  border: none;
  outline: none;
}

.input-field i {
  color: var(--main-button-color);  
}

.form-box h1 {
  font-size: 30px;
  margin-bottom: 40px;
  color: var(--main-button-color);
}
/* .form-box h1::after{
  content: '';
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background: var(--secondary-color);
  position: absolute;
  bottom: 79%;
  left: 50%;
  transform: translateX(-50%);
} */
.button-field{
 width: 100%;
 display: flex;
 justify-content: space-around;
}
.form-btn {
  margin-top: 10px;
  padding: 10px 40px ;
  width: 100%;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: var(--main-button-color);
}
.form-btn:hover {
  background-color: rgb(228, 66, 95); 
  transition: all 2s ease-in-out;
}
.form-btn a {
  color: var(--secondary-color);
  font-size: 16px;
}
.sign-btn {
  font-size: 15px;
  font-weight: 600;
  text-decoration: underline;
  margin-top: 5px;
  text-align: end;
  color: var(--main-button-color);
}
.sign-btn a {
  color: var(--main-button-color);
}
.password {
  /* position: relative; */
  width: 100%;
  height: 48px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0 48px;
}


/* SIGN-UP PAGE ENDS */

  input:not(:placeholder-shown){
    font-size: 16px;
    font-weight: 500;
  }
  input[type="text"] {
  position: relative;
  width: 100%;
  height: 48px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0 48px;
}
.search-icon .fas {
  position: absolute;
  right: 91%;
  transform: translate(-50%, 
  50%);
  bottom: 35%;
  font-size: 18px;
  color: var(--placeholder-color);
  z-index: 1000;
}

/* styling single placeholder button ends */

  .list-items { 
    width: 421px;
    height: auto;
    display: flex;
    padding-top: 10px;
    text-align: center;
  }
  .list-items li {
    border: 1.5px solid white;
    border-radius: 5px;
    margin-right: 10px;
  }

   .list-items li:hover {
    background-color: rgba(255, 255, 255, 100);
    transition: all 1s ease-in;
   }

  .list-items li a {
    font-size: 11px;
    padding: 50px 0;
    color: var(--secondary-color);
    margin: 9px;
  }
  .list-items li a:hover{
    color: var(--primary-color);
  }

  .logo h1 {
    font-weight: 900;
    font-size: 32px;
    color: var(--secondary-color);
    cursor: pointer;
  }
  .logo-images {
    max-width: 1440px;
    background: var(--tertiary-color);
  }
  .logo-images ul {
    display: flex;
    justify-content: space-around;
    padding: 48px 125px;
  }
  .features-categories {
    max-width: 1440px;
    padding: 80px;
  }
  .features-section, .masterpiece-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .features-section a {
    color: var(--link-text-color);
    font-weight: 500;
  }
  .events-section a {
    color: var(--link-text-color);
    font-weight: 500;
  }
  .masterpiece-section a {
    color: var(--link-text-color);
    font-weight: 500;
  }
 .arrow {
    padding-left: 16px;
  }
  .card-container{
    display: flex;
    gap: 24px;
    padding-top: 24px;
  }
  .card1 {
    width: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 6px;
  }

  .card1 img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
  }

   .text-overlay {
      position: absolute;
      top: 25px;
      left: 12px;
      color: white;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    }
    .category {
      font-size: 15px;
      font-weight: 400;
    }

    .title {
      font-size: 25px;
      font-weight: 700;
      line-height: 1.2;
    }
  .masterpiece-categories{
    max-width: 1440px;
    padding: 80px;
    background: var(--tertiary-color);

  }
  .mastercard1 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    background: red;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    border-radius: 6px;
  }
  .event_card {
    position: relative;
  }
  .badge-1{
      position: absolute;
      top: 20px;
      left: 20px;
      background-color: white;
      color: black;
      padding: 4px 10px;
      font-size: 0.85rem;
      border-radius: 6px;
      font-weight: 500;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }
  .badge-2{
      position: absolute;
      top: 20px;
      left: 20px;
      background-color: #F3E8FF;
      color: #6B21A8;
      padding: 4px 10px;
      font-size: 0.85rem;
      border-radius: 6px;
      font-weight: 500;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }
  .badge-3 {
     position: absolute;
      top: 20px;
      left: 20px;
      background-color: #DCFCE7;
      color: #166534;
      padding: 4px 10px;
      font-size: 0.85rem;
      border-radius: 6px;
      font-weight: 500;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }

  .badge-4 {
     position: absolute;
      top: 20px;
      left: 20px;
      background-color:#FEF9C3;
      color: #854D0E;
      padding: 4px 10px;
      font-size: 0.85rem;
      border-radius: 6px;
      font-weight: 500;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }

  .Card_2_001 {
    border-radius: 6px 6px 0 0;
  }
  .user-pic {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  .user-container {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 15px;
    background: white;
    border-radius: 0 0 6px 6px;
  }
  .user-text h4 {
    font-weight: 500;
  }
  .user-text p {
    font-size: 14px;
  }
  .services-container {
    max-width: 1440px;
    background: white;
    padding: 80px;
  }
  .service_section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .service_section h2 {
    font-size: 40px;
  }
  
  .services-list-items {
    width: 100%;
    display: flex;
    gap: 48px;
  }
  .icon_container {
    width: 173px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .icon_container p {
    text-align: center;
    font-weight: 600;
  }
  .expand-btn {
    width: 191px;
    height: 56px;
    background-color: var(--main-button-color);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    color: var(--secondary-color);
  }
  .services-list-items {
    padding: 80px 0;
  }
  .icon_1 {
    width: 64px;
    height: 64px;
  }
  .solution-container {
    max-width: 1440px;
    padding: 80px;
    background: var(--placeholder-color);
  }
  .solution-section {
    display: flex;
    gap: 80px;
  }
  .solution-text {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .solution-text h3{
    font-size: 56px;
    font-weight: 900;
    line-height: 1.1;
  }
  .solution_heading_text{
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: white;
  }
  .solution_heading_text {
    line-height: 1.4;
  }
  .solution_subheading_text p{
    color: white;
    padding-top: 5px;
  }
  .solution_subheading_text .fa-solid {
    padding-right: 10px;
  }

  .explore-btn {
    width: 180px;
    padding: 10px;
    font-weight: 600;
    font-size: 17px;
    background: none;
    border: 2px solid white;
    border-radius: 5px;
    color: var(--secondary-color);
  }

  .founder-container{
    max-width: 1440px;
    padding: 80px;
  }
  .founder-section {
    position: relative;
    display: flex;
    gap: 80px;
  }
  .founder-text-container {
   width: 576px;
   display: flex;
   gap: 10px;
   flex-direction: column;
   justify-content: center;
   padding-right: 50px;
  }
  .founder-text-container h5{
    font-weight: 600;
    color: var(--placeholder-color);  
  }
  .founder-text-container span {
    color: var(--link-text-color);
  }
  .founder-text-container p {
    width: 500px;
    font-weight: 900;
    padding-right: 100px;
  }

  /* Rounded Arrow icon */
  .nav-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: white;
      border: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      display: flex;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      z-index: 1;
    }
    
    .nav-arrow.left {
      left: -20px;
    }

    .nav-arrow.right {
      right: -20px;
    }

    .nav-arrow::before {
      content: '';
      display: inline-block;
      border: solid #666;
      border-width: 0 2px 2px 0;
      padding: 4px;
      transform: rotate(135deg);
      cursor: pointer;
    }

    .nav-arrow.right::before {
      transform: rotate(-40deg);
    }


.incredible-img-content {
    width: 800px;
    display: flex;
    gap: 15px;
  }
  
  .carousel-wrapper {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .arrow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    background: rgb(255, 255, 255);
    color: black;
    border: none;
    border-radius: 60%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.2s ease;
    z-index: 10;
  }
  .arrow-btn .arrow-left {
    position: absolute;
    left: -100px;
    right: 100px;
  }
    .arrow-btn:hover {
      background-color: #f0f0f0;
    }
  
    .card-dimmed {
      width: 184px;
      opacity: 0.2;
      transform: scale(0.98);
    }
    .user-img{
      display: flex;
      padding: 16px;
      gap: 8px;
      align-items: center;
    }
    .user-img img {
      width: 24px;
      height: 24px;
    }
    .user-img .title {
      font-size: 14px;
    }
    .card-active {
      width: 384px;
      opacity: 1;
      transform: scale(1);
    }
    
     #prevBtn {
      left: 66px; /* adjust to fine-tune position */
    }
      #nextBtn {
      left: 670px; /* adjust to fine-tune position */
    }
    .incredible-text {
      width: 400px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      color: var(--secondary-color);
    }
    .incredible-text h3{
      font-size: 55px;
    }
    .incredible-text p {
      line-height: 1.4;
    }
    .incredible-card {
      border-radius: 7px;
      overflow: hidden;
      background: white;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
      transition: all 0.4s ease;
      text-align: center;
      flex-shrink: 0;
      border: 1px solid #f0f0f0;
    }
    .incredible-section {
      display: flex;
      align-items: center;
      gap: 80px;
    }
    .incredible-container {
      max-width: 1440px;
      padding: 80px;
      background-color: var(--placeholder-color);
    }

    .events-categories {
      max-width: 1440px;
      padding: 80px;
      background-color: var(--secondary-color);
    }
    .events-section{
      display: flex;
      justify-content: space-between;
    }
    .text-container{
      padding: 16px 5px 0 0;
    }
    .collection-categories{
      max-width: 1440px;
      padding: 80px 80px 0 80px;
      background-color: var(--deep-navy-blue);
    }
    .collection-section {
      display: flex;
      gap: 80px;
      align-items: center;
    }
    .collection-section img {
      width: 550px;
      height: 480px;
    }
    .text-collection{
      width: 670px;
      height: 480px;
      align-content: center;
    }
    .text-collection h2{
      color: var(--secondary-color);
      font-size: 50px;
      line-height: 1.1;
    }
   .btn{
      margin-top: 24px;
      color: var(--secondary-color);
      border-radius: 5px;
      font-size: 17px;
    }

    /* FOOTER---SECTION---START */
    .footer-container {
      max-width: 1440px;
      padding: 0 80px;
      background-color: var(--secondary-color);
    }

    .footer-section {
      display: flex;
      gap: 48px;
      padding: 48px 0;
    }

    .headline-icon img {
      width: 24px;
      height: 24px;
    }

    .headline-icon {
      display: flex;
      gap: 8px;
      align-items: center;
      padding: 15px 0;
      color: #475569;
    }
    .category-headline, 
    .product-headline, 
    .solutions-headline,
    .resources-headline,
    .support-headline,
    .company-headline {
      width: 173px;
      height: 324px;
    }
    .category-headline li,
     .product-headline li,
     .solutions-headline li,
     .support-headline li,
     .resources-headline li,
     .company-headline li {
      padding: 12px 0;
    }

    .category-headline li a,
     .product-headline li a,
     .solutions-headline li a,
     .support-headline li a,
     .resources-headline li a,
     .company-headline li a {
      color: #475569;
      font-size: 16px;
     }

    .social-media-icons {
      max-width: 1440px;
      display: flex;
      justify-content: space-between;
      padding: 49px 0 25px 0;
      border-top: 1px solid rgb(190, 189, 189);
    }
    .social-media-icons {
      color: #475569;
    } 
    .social-icons {
      display: flex;
      align-items: center;
      gap: 16px;
    }
    .paragraph-text {
      max-width: 1440px;
      padding: 20px 0 48px 0;
      color: #475569;
    }

    /* Media-querries--for--medium--screens */
  
@media screen and (max-width: 1024px) {
      .container {
      padding-inline: 30px;
      background: pink;
    }

    .wrapper {
    position: relative;
    padding-left: 30px;
    background: var(--primary-color);
    }

    .hero-section h1 {
    font-size: 50px;
    padding-bottom: 24px;
    color: var(--secondary-color);
    line-height: var(--line-height);
    }

     .form {
      width: 450px;
     }

    ::placeholder {
    font-size: 14px;
    }

    

  .search-icon .fas {
  position: absolute;
  right: 92%;
  transform: translate(-50%, 
  50%);
  bottom: 37%;
  font-size: 18px;
  color: var(--placeholder-color);
  }

  .input-field  input[type="text"] {
  position: relative;
  width: 100%;
  background: white;
  border: none;
  outline: none;
  }
  .logo-images ul{
    padding: 30px 48px;
  }

  .features-categories {
    padding: 50px 30px;
  }

  .card1 img{
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 6px;
  }

   .card1 {
    border-radius: 6px;
    height: auto;
   }

    .features-section, .masterpiece-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .features-section a {
    color: var(--link-text-color);
    font-weight: 500;
  }

  .category {
      font-size: 12px;
      font-weight: 400;
    }

  .title {
      font-size: 17px;
      font-weight: 700;
      line-height: 1.2;
    }

  .features-section h2 {
      font-size: 30px;
    } 
  .features-section a{
      font-size: 13px;
    }
  
  .masterpiece-categories {
    padding: 50px 30px;
  }

  .mastercard1 {
    width: 300px;
    height: 250px;
  }

  .hero-text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .hero-section {
    display: flex;
  }
  
}


@media screen and (max-width: 700px) {
    .container {
      padding-inline: 20px;
      background: green;
    }

    .wrapper {
      padding-inline: 20px;
    }

    .hero-section {
      display: flex;
      flex-direction: column;
    }

    .hero-text h1 {
      text-align: center;
      font-size: 50px;
      padding-right: 5px;
    }

  .search-icon .fas{
    transform: translate(120%, -550%);
  }
  
  .navbar-list {
    display: none;
  }
   
  .logo-images ul{
    padding: 20px;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .features-section h2 {
    font-size: 20px;
    font-weight: 700;
  }

  .features-section a {
    font-size: 12px;
  }

  .text-overlay .category {
    font-size: 25px;
  }

   .text-overlay .title {
    font-size: 35px;
   }

   .masterpiece-section h2 {
    font-size: 20px;
   }

   .masterpiece-section a {
    font-size: 12px;
   }

   .mastercard1 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    border-radius: 6px;
  }

  .sign-up-container {
    display: grid;
    gap: 30px;
    grid-template-rows: repeat(1, 1fr);
  }

  .form-box {
    width: 100%;
  }

  .services-container {
    padding: 40px 20px ;
  }

  .service_section h2 {
    font-size: 30px;
  }

  .services-list-items {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .solution-container {
    padding: 40px 20px;
  }

  .solution-text {
    width: 100%;
    align-items: center;
  }
  .solution-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .solution_heading_text h3 {
    font-size: 35px;
    text-align: center;
  }
  .solution-right-img {
    width: 100%;
  }

  .founder-container {
    padding: 40px;
  }
  .founder-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .founder-section .model-img {
    width: 70%;
  }

  .incredible-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .incredible-container {
    padding: 40px 20px;
  }
  .incredible-img-content {
    width: 100%;
    display: none;
  }

  .events-categories {
    padding: 40px 20px;
  }

  .collection-categories {
    padding: 20px 20px 0 ;
  }

  .collection-section {
    display: flex;
    flex-direction: column;
  }

  .text-collection {
    width: 100%;
    height: auto;
    text-align: center;
    align-content: flex-start;

  }  

  .male-model-img img{
    flex: 1;
    max-width: 430px;
    height: auto;
    object-fit: contain;
  }

  .footer-section {
    display: flex;
    flex-direction: column;
  }

  .footer-container {
    padding: 20px;
  }

  .social-media-icons  {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }









}