:root{
    --primary-color: rgba(136, 19, 55, 1);
    --secondary-color: rgba(255, 255, 255, 1);
    --text-color: rgb(255, 255, 255);
    --placeholder-color: rgba(71, 85, 105, 1);
    --font-family: "Roboto", sans-serif;
    --primary-font-weight: 400;
    --secondary-font-weight: 700;
    --tertiary-font-weight: 300;
    --font-size: 16px;
    --line-height: 1.5;
}
/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

li a, li{
    text-decoration: none;  
    list-style: none;
}

/* Set default font and background for the body */
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: .5px;
    color: white;
}

a:hover {
    text-decoration: none;
}

/* Default button styles */
button {
    padding: 10px 15px;
    font-size: 1rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(190, 18, 60, 1);
}

button:hover {
    background-color: rgba(190, 18, 60, .4)
}

/* Default image styles */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*----------------- Main Website Container -------------------- */

.navbar_container {
    max-width: 1200px;
    position: relative;
    height: 75vh;
    margin: 0 auto;
    padding: 0 20px;
    background-color: rgba(136, 19, 55, 1);
}
.nav_bar {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.Hero_section {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.Hero_section h3 {
    font-size: 30px;
    font-weight: var(--secondary-font-weight);
    color: var(--text-color);
    margin: 20px 0;
}
.Hero_section .text{
    display: flex;
}
.Hero_section .text input {
    width: 80%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
}
 ::placeholder {
    font-size: 13px;
    color: var(--placeholder-color);
    
}
.main_btn {
    font-size: 13px;
    padding: 0 25px;
    margin-left: 10px;
}
.btn_list {
    display:flex;
    justify-content: space-between;
    top: 225px;
}
.btn_list li{
    max-width: 100%;
    border : 1px solid var(--text-color);
    border-radius: 5px;
    padding: 5px;
    font-size: 10px;
}
.btn_list a {
    color: var(--text-color);
}
.model_img {
    max-width: 90%;
    position: absolute;
    left: 5px;
    bottom: 0px;
}

.section_a_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}